<div class="main-container">
  <nz-steps [nzCurrent]="current">
    <nz-step nzTitle="Top"></nz-step>
    <nz-step nzTitle="Neck"> </nz-step>
    <nz-step nzTitle="Sleaves"> </nz-step>
    <nz-step nzTitle="Chest"> </nz-step>
    <nz-step nzTitle="Bottom"> </nz-step>
  </nz-steps>

  <div class="steps-content">
    <ng-container *ngIf="index == 'top'">
      <!-- Top -->
      <form nz-form nzLayout="vertical" [formGroup]="topForm" style="margin: 20px">
        <div nz-row [nzGutter]="rowGutter">
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="kurti_type">Kurti Type</nz-form-label>
              <nz-form-control nzErrorTip="Please select any value!">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select kurti type" formControlName="kurti_type"
                  id="kurti_type">
                  <nz-option nzLabel="Normal" nzValue="normal"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="kurti_length">Kurti Length</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid kurti length!">
                <nz-input-number formControlName="kurti_length" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="chest_length">Chest Length</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid kurti length!">
                <nz-input-number formControlName="chest_length" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="rowGutter">
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="waist_length">Waist Length</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid waist length!">
                <nz-input-number formControlName="waist_length" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="heap_length">Heap Length</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid heap length!">
                <nz-input-number formControlName="heap_length" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row class="buttonRow">
          <div nz-col nzSpan="24">
            <nz-form-item class="register-area">
              <nz-form-control>
                <nz-space>
                  <span *nzSpaceItem>
                    <button nz-button nzType="primary" [disabled]="!topForm.valid" (click)="topFormSave()">
                      Save
                    </button>
                  </span>
                  <span *nzSpaceItem>
                    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                      <span>Previous</span>
                    </button>
                  </span>
                  <span *nzSpaceItem>
                    <button nz-button nzType="default" (click)="next()" *ngIf="current < 4">
                      <span>Next</span>
                    </button></span>
                </nz-space>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="index == 'neck'">
      <!-- Neck -->
      <form nz-form nzLayout="vertical" [formGroup]="neckForm" style="margin: 20px">
        <div nz-row [nzGutter]="rowGutter">
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="neck_type">Neck Type</nz-form-label>
              <nz-form-control nzErrorTip="Please select any value!">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Neck type" formControlName="neck_type"
                  id="neck_type">
                  <nz-option nzLabel="Normal" nzValue="normal"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="front_neck_length">Front Neck Length</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid front neck length!">
                <nz-input-number formControlName="front_neck_length" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="back_neck_length">Back Neck Length</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid back neck length!">
                <nz-input-number formControlName="back_neck_length" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="rowGutter" class="buttonRow">
          <div nz-col nzSpan="24">
            <nz-form-item class="register-area">
              <nz-form-control>
                <nz-space>
                  <span *nzSpaceItem>
                    <button nz-button nzType="primary" [disabled]="!neckForm.valid" (click)="neckFormSave()">
                      Save
                    </button>
                  </span>
                  <span *nzSpaceItem>
                    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                      <span>Previous</span>
                    </button></span>
                  <span *nzSpaceItem>
                    <button nz-button nzType="default" (click)="next()" *ngIf="current < 4">
                      <span>Next</span>
                    </button></span>
                </nz-space>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="index == 'sleaves'">
      <!-- Sleaves -->
      <form nz-form nzLayout="vertical" [formGroup]="sleavesForm" style="margin: 20px">
        <div nz-row [nzGutter]="rowGutter">
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="sleaves_type">Sleaves Type</nz-form-label>
              <nz-form-control nzErrorTip="Please select any value!">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select sleaves type" formControlName="sleaves_type"
                  id="sleaves_type">
                  <nz-option nzLabel="Normal" nzValue="normal"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="sleaves_length">Sleaves Length</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid sleaves length!">
                <nz-input-number formControlName="sleaves_length" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="arm_holes">ARM Holes</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid ARM Holes!">
                <nz-input-number formControlName="arm_holes" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="rowGutter">
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="arm_round_left">ARM Round Left</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid arm round left">
                <nz-input-number formControlName="arm_round_left" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="arm_round_right">ARM Round Right</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid arm round right!">
                <nz-input-number formControlName="arm_round_right" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="sleaves_flare">Sleaves Flare</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid sleaves flare!">
                <nz-input-number formControlName="sleaves_flare" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row [nzGutter]="rowGutter" class="buttonRow">
          <div nz-col nzSpan="24">
            <nz-form-item class="register-area">
              <nz-form-control>
                <nz-space>
                  <span *nzSpaceItem>
                    <button nz-button nzType="primary" [disabled]="!sleavesForm.valid" (click)="sleavesFormSave()">
                      Save
                    </button>
                  </span>
                  <span *nzSpaceItem>
                    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                      <span>Previous</span>
                    </button></span>
                  <span *nzSpaceItem>
                    <button nz-button nzType="default" (click)="next()" *ngIf="current < 4">
                      <span>Next</span>
                    </button></span>
                </nz-space>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="index == 'chest'">
      <!-- Chest -->
      <form nz-form nzLayout="vertical" [formGroup]="chestForm" style="margin: 20px">
        <div nz-row [nzGutter]="rowGutter">
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="upper_chest">Upper Chest</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid upper chest!">
                <nz-input-number formControlName="upper_chest" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="lower_chest">Lower Chest</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid lower chest!">
                <nz-input-number formControlName="lower_chest" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="waist">Waist </nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid waist !">
                <nz-input-number formControlName="waist" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="rowGutter">
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="heap">Heap</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid heap">
                <nz-input-number formControlName="heap" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="seat">Seat</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid seat!">
                <nz-input-number formControlName="seat" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="other">Other</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid other!">
                <nz-input-number formControlName="other" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="rowGutter" class="buttonRow">
          <div nz-col nzSpan="24">
            <nz-form-item class="register-area">
              <nz-form-control>
                <nz-space>
                  <span *nzSpaceItem>
                    <button nz-button nzType="primary" *ngIf="current === 3" [disabled]="!chestForm.valid"
                      (click)="chestFormSave()">
                      <span>Save</span>
                    </button></span>
                  <span *nzSpaceItem>
                    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                      <span>Previous</span>
                    </button></span>
                  <span *nzSpaceItem>
                    <button nz-button nzType="default" (click)="next()" *ngIf="current < 4">
                      <span>Next</span>
                    </button></span>
                </nz-space>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="index == 'bottom'">
      <!-- Bottom -->
      <form nz-form nzLayout="vertical" [formGroup]="bottomForm" style="margin: 20px">
        <div nz-row [nzGutter]="rowGutter">
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="sleaves_type">Sleaves Type</nz-form-label>
              <nz-form-control nzErrorTip="Please select any value!">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select sleaves type" formControlName="sleaves_type"
                  id="sleaves_type">
                  <nz-option nzLabel="Normal" nzValue="normal"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="bottom_length">Length</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid Length">
                <nz-input-number formControlName="bottom_length" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="bottom_waist">Waist</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid Waist!">
                <nz-input-number formControlName="bottom_waist" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="rowGutter">
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="bottom_seat">Seat</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid Seat">
                <nz-input-number formControlName="bottom_seat" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="bottom_theigh">Theigh</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid Theigh!">
                <nz-input-number formControlName="bottom_theigh" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="bottom_heap">Heap </nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid Heap !">
                <nz-input-number formControlName="bottom_heap" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="rowGutter">
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="bottom_knee">Knee</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid Knee!">
                <nz-input-number formControlName="bottom_knee" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="bottom_calf">Calf</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid Calf">
                <nz-input-number formControlName="bottom_calf" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="bottom_ancle">Ancle</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid Ancle!">
                <nz-input-number formControlName="bottom_ancle" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="rowGutter">
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="bottom_bottom">Bottom</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid Bottom!">
                <nz-input-number formControlName="bottom_bottom" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="bottom_other">Other</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid Other">
                <nz-input-number formControlName="bottom_other" [nzMin]="1" [nzMax]="100"
                  [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="rowGutter" class="buttonRow">
          <div nz-col nzSpan="24">
            <nz-form-item class="register-area">
              <nz-form-control>
                <nz-space>
                  <span *nzSpaceItem>
                    <button nz-button nzType="primary" *ngIf="current === 4" [disabled]="!bottomForm.valid"
                      (click)="bottonFormSave()">
                      <span>Submit</span>
                    </button></span>
                  <span *nzSpaceItem>
                    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                      <span>Previous</span>
                    </button></span>
                  <span *nzSpaceItem>
                    <button nz-button nzType="default" (click)="next()" *ngIf="current < 4">
                      <span>Next</span>
                    </button></span>
                </nz-space>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
</div>