<form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()" style="margin: 20px;">
  <div nz-row >
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name">Name</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Name!">
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="2"> </div>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="country">Country</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Country!">
          <input nz-input formControlName="country" id="country" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzErrorTip]="emailErrorTpl">
          <input nz-input formControlName="email" id="email" />
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('email')">The input is not valid E-mail!</ng-container>
            <ng-container *ngIf="control.hasError('required')">Please input your E-mail!</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="2"> </div>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="gender">Gender</nz-form-label>
        <nz-form-control nzErrorTip="Please select any value!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select gender" formControlName="gender" id="gender">
            <nz-option nzLabel="Male" nzValue="male"></nz-option>
            <nz-option nzLabel="Female" nzValue="female"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="city">City</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid City!">
          <input nz-input formControlName="city" id="city" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="2"> </div>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="zip">Zip</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Zip!">
          <input nz-input formControlName="zip" id="zip" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="state">State</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid State!">
          <input nz-input formControlName="state" id="state" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="2"> </div>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="phone">Phone</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Phone!">
          <input nz-input formControlName="phone" id="phone" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item class="register-area">
        <nz-form-control>
          <button nz-button nzType="primary">Add Customer</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>