<div nz-row nzJustify="end">
  <button nz-button nzType="primary" (click)="showModal()">
    <span nz-icon nzType="plus"></span>
    Add Category
  </button>
</div>
<nz-modal
[(nzVisible)]="isVisible"
nzTitle="Add Category"
(nzOnCancel)="handleCancel()"
(nzOnOk)="handleOk()"
[nzOkLoading]="isOkLoading"
nzOkText="Save"
[nzOkDisabled]="!validateForm.valid"
>
<div *nzModalContent>
  <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()" >
    <div nz-row >
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="category_name">Category Name</nz-form-label>
          <nz-form-control nzErrorTip="The input is not valid Category Name!">
            <input nz-input formControlName="category_name" id="category_name" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="created_on">Created on</nz-form-label>
          <nz-form-control nzErrorTip="The input is not valid Created on!">
            <nz-date-picker style="width: 100%" [nzFormat]="dateFormat" formControlName="created_on" id="created_on" ></nz-date-picker>

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="description">Description</nz-form-label>
          <nz-form-control nzErrorTip="The input is not valid Description!">
            <textarea nz-input cols="30" rows="2" formControlName="description" id="description" ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <!-- <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item class="register-area">
          <nz-form-control>
            <button nz-button nzType="primary">Add Item</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div> -->
  </form>
</div>
</nz-modal>
<ng-container *ngIf="keys">
  <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed" [nzScroll]="{y: '400px'}" nzFrontPagination="false" class="capitalize-case">
    <thead>
      <tr>
        <!-- <th *ngFor="let column of keys">
          {{ column }}
        </th> -->
        <th
        *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name }}
      </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable?.data">
        <td>{{ data.name}}</td>
        <td>{{ data.category }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.discount }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.created_on }}</td>
        <td>
          <a [href]="'/add-item'">
            <span nz-icon nzType="plus-circle" nzTheme="fill"></span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a [href]="'/edit-item/' + data._id">
            <span nz-icon nzType="edit" nzTheme="fill"></span>
          </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data._id)">
            <span nz-icon nzType="delete" nzTheme="fill"></span>
          </a>

        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>