<form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()" style="margin: 20px;">
  <div nz-row>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="category">Category</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Category!">
          <input nz-input formControlName="category" id="category" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="2"> </div>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="customer">Customer</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Customer!">
          <input nz-input formControlName="customer" id="customer" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="amount">Amount</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Amount!">
          <input nz-input formControlName="amount" id="amount" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="2"> </div>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="status">Status</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Status!">
          <input nz-input formControlName="status" id="status" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="expense_date">Expense Date</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Expense Date!">
          <nz-date-picker style="width: 100%" nzFormat="dd-MM-yyyy" formControlName="expense_date" id="expense_date" ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="2"> </div>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="notes">Notes</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Notes!">
          <textarea nz-input formControlName="notes" id="notes" id="" cols="30" rows="2"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item class="register-area">
        <nz-form-control>
          <button nz-button nzType="primary">Update Expense</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>