<div class="sidebar-logo">
  <a href="https://ng.ant.design/" target="_blank">
    <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
    <h1>Software Bazar</h1>
  </a>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
  <li nz-submenu nzTitle="Dashboard" nzIcon="dashboard">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/welcome">Welcome</a>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Customer" nzIcon="usergroup-add">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/add-customer">Add Customer</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/customer">Customer Details</a>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Measurement" nzIcon="usergroup-add">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/add-measurement">Add Measurement</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/measurement">Measurement Details</a>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Invoices" nzIcon="book">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/add-invoice">Add Invoice</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/invoice">Invoice Details</a>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Estimate" nzIcon="book">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/add-estimate">Add Estimate</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/estimate">Estimate Details</a>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Item" nzIcon="book">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/add-item">Add Item</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/item">Item Details</a>
      </li>
    </ul>
  </li>
  <!-- <li nz-submenu nzTitle="Category" nzIcon="book">
            <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/category">Category Details</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/add-category">Add Category</a>
                </li>
            </ul>
        </li> -->
  <li nz-submenu nzTitle="Expense" nzIcon="book">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/add-expense">Add Expense</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/expense">Expense Details</a>
      </li>
    </ul>
  </li>
  <!-- <li nz-submenu  nzTitle="Account" nzIcon="account-book">
            <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/profile">Profile</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/profile">Edit Profile</a>
                </li>
            </ul>
        </li> -->
  <!-- <li nz-submenu   nzTitle="Reports" nzIcon="pie-chart">
            <ul>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/sales-report">Sales Report</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/expense-report">Expense Report</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/profit-loss-report">Profit & Loss Report</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a routerLink="/tax-report">Tax Report</a>
                </li>
            </ul>
        </li> -->
  <li nz-menu-item nzTitle="Logout" nzIcon="dashboard">
    <a (click)="logout()">
      <span nz-icon nzType="logout"></span>
      <span>Logout</span>
    </a>
  </li>
</ul>
