<form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()" style="margin: 20px;">
  <div nz-row >
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name">Name</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Name!">
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="2"> </div>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="category">Category</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Category!">
          <input nz-input formControlName="category" id="category" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="price">Price</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Price!">
          <input nz-input formControlName="price" id="price" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="2"> </div>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="discount">Discount</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Discount!">
          <input nz-input formControlName="discount" id="discount" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="description">Description</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Description!">
          <textarea nz-input cols="30" rows="2" formControlName="description" id="description" ></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="2"> </div>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="created_on">Created on</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid Created on!">
          <nz-date-picker style="width: 100%" [nzFormat]="dateFormat" formControlName="created_on" id="created_on" ></nz-date-picker>

        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item class="register-area">
        <nz-form-control>
          <button nz-button nzType="primary">Add Item</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>